body {
  font-family: "Lato", sans-serif !important;
  background-color: #d8d8d8;
}

.nav-icon {
  color: #ccc;
}

/* 300, 400,700, 900 */

.nav-link {
  color: #595959;
  font-weight: 700;
  padding: 0 1rem;
}

.nav > .nav-item:nth-child(1) {
  border-bottom: 2px solid #78387b;
}

a:hover {
  color: #78387b;
}

.nav-item:not(:last-child)
  > .nav-link.dropdown-toggle {
  color: #ccc !important;
  font-weight: 700;
  font-size: 0.85rem;
}

.navbar-nav > .nav-item {
  margin: 0 0.5rem;
}

.nav-item:last-child > .nav-link.dropdown-toggle {
  color: #de8ae5 !important;
  font-weight: 700;
  font-size: 0.85rem;
}

.navbar-brand {
  font-size: 0.75rem;
  line-height: 85%;
  padding: 0.35rem 0.25rem;
  border-radius: 0.25rem;
  font-weight: 900;
}

.navbar {
  background: url(/img/bg.jpg) repeat-x top center;
  background-color: rgba(
    26,
    26,
    26,
    0.9
  ) !important;
}

.discount {
  background-color: #78387b;
  border-color: #78387b;
  font-size: 1.75rem !important;
  padding: 0.6rem 0.8rem;
}

.carousel {
  cursor: pointer;
}

.carousel-item {
  height: 400px;
  overflow: hidden;
  background: linear-gradient(
    7deg,
    rgb(13, 5, 7),
    rgba(13, 5, 7, 0.65) 30%,
    rgba(13, 5, 7, 0) 50%
  );
}

.carousel-caption {
  right: 20px;
  left: 20px;
  bottom: 0px;
}

.price {
  font-size: 1.75rem;
  font-weight: 700;
  margin: 0 1rem;
}

.zi {
  background: linear-gradient(
    -180deg,
    #c1ec51,
    #80b02a
  );
  border: none;
}

.card {
  cursor: pointer;
}

.card-body {
  background: hsla(0, 0%, 98%, 0.6);
  font-size: 0.75rem;
}

.card-body > p {
  font-size: 0.75rem;
  text-align: right;
}

.card-img-top {
  height: 116px;
}

.card-title {
  font-size: 0.75rem;
}

.color-pink {
  color: #78387b !important;
}

.game {
  display: flex;
  padding: 0.5rem 0;
  cursor: pointer;
  border-bottom: 1px solid #ccc;
}

.game > .description {
  margin-left: 1rem;
  flex-grow: 1;
}

.description > p {
  font-size: 0.9rem;
}

.description > button {
  font-size: 0.6rem;
  background-color: #094a77;
  border-color: #094a77;
}

.description > button:hover {
  background-color: #094a77;
  border-color: #094a77;
}

.grid-row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  cursor: pointer;
}

/* Create four equal columns that sits next to each other */
.grid-col {
  flex: 50%;
  max-width: 50%;
  padding: 0 2px;
}

.grid-col img {
  padding: 2px 0px;
  vertical-align: middle;
  width: 100%;
}

footer {
  background-color: #262626;
  color: rgba(255, 255, 255, 0.43);
  font-size: 0.85rem;
}
